models/*
experiments/*
inference/rtdetr_baseline.py
inference/sahi_baseline.py
inference/yolo_baseline.py
inference/inference.py
rtdetrv2_custom_train.ipynb
RT-DETR/rtdetrv2_pytorch/fine_tune.py
deploy/*
experiments_test/*

